<header class="grid-container grid-template-columns bg-green-950 py-3">
  <div></div>
  <section
    class="flex-container flex-align-items-center max-w-full text-white text-lg flex-justify-content-between "
  >
    <img
      src="./../../../../assets/images/guide-logo.png"
      class="w-32 max-h-lg max-w-lg"
    />
    <div class="">Conheça a Guide</div>
    <div class="">Investimentos</div>
    <div class="">Simuladores</div>
    <div class="">Conteúdo</div>
    <div class="">Atendimento</div>
    <a
      class="border border-white border-solid bg-green-950 text-white px-6 py-2 rounded-lg"
      >Login</a
    >
    <a
      class="border border-orange0400 border-solid text-black bg-orange-400 px-6 py-2 rounded-lg"
      >Abra sua conta</a
    >
  </section>
  <div></div>
</header>
