<header class="bg-green-950 grid-container grid-template-columns">
  <div></div>
  <section
    class="flex-container flex-align-items-center max-w-full text-white text-lg flex-justify-content-between header-columns-mobile"
  >
    <img
      src="./../../../../assets/images/guide-logo.png"
      class="w-32 max-h-lg max-w-lg cursor-pointer"
    />
    <div
      class="flex-container flex-align-items-center max-w-full text-white text-lg flex-justify-content-around flex-grow-1 mx-6 header-options-mobile"
    >
      <div class="cursor-pointer">Conheça a Guide</div>
      <div class="cursor-pointer">Investimentos</div>
      <div class="cursor-pointer">Simuladores</div>
      <div class="cursor-pointer">Conteúdo</div>
      <div class="cursor-pointer">Atendimento</div>
    </div>

    <div
      class="flex-container flex-row flex-align-items-center header-buttons-mobile header-button-mobile"
    >
      <a
        class="border border-white border-solid bg-green-950 text-white px-6 py-2 rounded-lg mx-4 header-button-mobile cursor-pointer"
        >Login</a
      >
      <a
        class="border border-orange0400 border-solid text-black bg-orange-400 px-6 py-2 rounded-lg header-button-mobile cursor-pointer font-medium"
        >Abra sua conta</a
      >
      <img
        src="./../../../../assets/images/header-opcoes.png"
        class="w-8 h-4 ml-3 header-button-mobile cursor-pointer burger-menu"
      />
    </div>
  </section>
  <div></div>
</header>
