<section class="grid-container grid-template-columns mt-10">
  <div></div>

  <form [formGroup]="formGroupGrafico">
    <label class="d-block font-bold mb-1 text-green-950"
      >Opções de variação</label
    >
    <div class="position-relative">
      <select
        formControlName="opcoesVariacaoAtivo"
        class="border border-w-3 rounded border-green-950 text-sm pl-3 pr-5 py-1 mb-3 outline-none cursor-pointer"
      >
        <option [value]="opcoesVariacoesAtivo.OPEN">Abertura</option>
        <option [value]="opcoesVariacoesAtivo.D1">Variação D -1</option>
        <option [value]="opcoesVariacoesAtivo.PRIMEIRA_DATA">
          Variação Primeira Data
        </option>
      </select>
    </div>

    <div class="position-relative mx-auto canvas-container">
      <canvas id="guideChart"></canvas>
    </div>
  </form>
  <div></div>
</section>
