<div class="grid-container grid-template-columns">
  <div class="container max-w-4xl font-sm">
    <div class="table-head table-head text-base">
      <div
        class="table-row table-row-title bg-green-950 rounded-lg rounded-b-none"
      >
        <li class="item-cell text-center flex-justify-content-center">Dia</li>
        <li class="item-cell text-center flex-justify-content-center">Data</li>
        <li class="item-cell min-w-6 text-center flex-justify-content-center">
          Valor
        </li>
        <li
          class="item-cell whitespace-nowrap text-center flex-justify-content-center"
        >
          Variação em relação a D-1
        </li>
        <li
          class="item-cell whitespace-nowrap text-center flex-justify-content-center"
        >
          Variação em relação à primeira data
        </li>
      </div>
    </div>
    <div class="table-body text-sm">
      <div
        *ngFor="let variacaoAtivo of variacoesAtivo; let i = index"
        class="table-row"
      >
        <li class="item-cell flex-justify-content-center">{{ i + 1 }}</li>
        <li class="item-cell flex-justify-content-center">
          {{ variacaoAtivo.timestamp | date : "dd/MM/yyyy" }}
        </li>
        <li class="item-cell">
          {{
            variacaoAtivo.open
              ? (variacaoAtivo.open | currency : "BRL" : "symbol" : "1.2-2")
              : "-"
          }}
        </li>
        <li
          class="item-cell text-left"
          [ngClass]="
            formataVariacoesNegativas(variacaoAtivo, variacaoAtivo.variacaoD1)
          "
        >
          {{
            variacaoAtivo.variacaoD1 !== null
              ? (variacaoAtivo.variacaoD1 | percent : "1.2-2" : "pt-BR")
              : "-"
          }}
        </li>
        <li
          class="item-cell text-left"
          [ngClass]="
            formataVariacoesNegativas(
              variacaoAtivo,
              variacaoAtivo.variacaoPrimeiraData
            )
          "
        >
          {{
            variacaoAtivo.variacaoPrimeiraData !== null
              ? (variacaoAtivo.variacaoPrimeiraData
                | percent : "1.2-2" : "pt-BR")
              : "-"
          }}
        </li>
      </div>
    </div>
  </div>
</div>
