.min-w-0 {
  min-width: 0rem;
} /* 0px */
.min-w-none {
  min-width: none;
}

.min-w-1 {
  min-width: 1rem;
}
.min-w-1-half {
  min-width: 1.5rem;
}
.min-w-2 {
  min-width: 2rem;
}
.min-w-2-half {
  min-width: 2.5rem;
}
.min-w-3 {
  min-width: 3rem;
}
.min-w-3-half {
  min-width: 3.5rem;
}
.min-w-4 {
  min-width: 4rem;
}
.min-w-4-half {
  min-width: 4.5rem;
}
.min-w-full {
  min-width: 100%;
}
.min-w-min {
  min-width: min-content;
}
.min-w-max {
  min-width: max-content;
}
.min-w-fit {
  min-width: fit-content;
}
.min-w-prose {
  min-width: 65ch;
}
.min-w-screen-sm {
  min-width: 640px;
}
.min-w-screen-md {
  min-width: 768px;
}
.min-w-screen-lg {
  min-width: 1024px;
}
.min-w-screen-xl {
  min-width: 1280px;
}
.min-w-screen-2xl {
  min-width: 1536px;
}
