<section class="grid-container grid-template-columns mb-10">
  <div></div>
  <div class="container font-sm w-full mt-10">
    <div class="table-head text-base">
      <div
        class="table-row table-row-title bg-green-950 rounded-lg rounded-b-none"
      >
        <li class="item-cell text-center flex-justify-content-center">Dia</li>
        <li class="item-cell text-center flex-justify-content-center">Data</li>
        <li class="item-cell min-w-6 text-center flex-justify-content-center">
          Valor
        </li>
        <li
          class="item-cell whitespace-nowrap text-center flex-justify-content-center"
        >
          Variação em relação a D-1
        </li>
        <li
          class="item-cell whitespace-nowrap text-center flex-justify-content-center"
        >
          Variação em relação à primeira data
        </li>
      </div>
    </div>
    <div
      class="table-body text-sm"
      *ngIf="variacoesAtivo?.length; else elseBlock"
    >
      <div
        *ngFor="let variacaoAtivo of variacoesAtivo; let i = index"
        class="table-row"
      >
        <li class="item-cell flex-justify-content-center">
          <span class="item-mobile">Dia: </span><span>{{ i + 1 }}</span>
        </li>
        <li class="item-cell flex-justify-content-center">
          <span class="item-mobile">Data: </span>
          <span>
            {{ variacaoAtivo.timestamp | date : "dd/MM/yyyy" }}
          </span>
        </li>
        <li class="item-cell">
          <span class="item-mobile">Valor: </span>
          <span>
            {{
              variacaoAtivo.open
                ? (variacaoAtivo.open | currency : "BRL" : "symbol" : "1.2-2")
                : "-"
            }}
          </span>
        </li>
        <li
          class="item-cell text-left"
          [ngClass]="
            formataVariacoesNegativas(variacaoAtivo, variacaoAtivo.variacaoD1)
          "
        >
          <span class="item-mobile">Variação em relação a D-1: </span>
          <span>
            {{
              variacaoAtivo.variacaoD1 !== null
                ? (variacaoAtivo.variacaoD1 | percent : "1.2-2" : "pt-BR")
                : "-"
            }}
          </span>
        </li>
        <li
          class="item-cell text-left"
          [ngClass]="
            formataVariacoesNegativas(
              variacaoAtivo,
              variacaoAtivo.variacaoPrimeiraData
            )
          "
        >
          <span class="item-mobile">Variação em relação à primeira data: </span>
          <span>
            {{
              variacaoAtivo.variacaoPrimeiraData !== null
                ? (variacaoAtivo.variacaoPrimeiraData
                  | percent : "1.2-2" : "pt-BR")
                : "-"
            }}
          </span>
        </li>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="mt-2">Nenhum valor encontrado para o ativo.</div>
    </ng-template>
  </div>
  <div></div>
</section>
